@import "tailwindcss";

@font-face {
  font-family: 'Koba';
  src: url("/assets/KOBA.otf");
}

body {
  background: #2F0834;
  /* background-color: #562940; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

